.files-viewer--wrapper {
  display: flex;
}

.files-viewer__content {
  margin-right: 10px;
  height: 300px;
  box-sizing: border-box;
}

.files-viewer__content:last-child {
  margin-right: 0;
}

.files-viewer__text-input {
  padding: 10px;
  resize: none;
  width: 50%;
}

.files-viewer__text-input:active,
.files-viewer__text-input:focus {
  outline: none;
}

.files-viewer__preview--wrapper {
  width: 50%;
}

.files-viewer__preview {
  max-width: 100%;
  height: inherit;
  margin: auto;
  display: block;
}
