.files-viewer--wrapper {
  display: flex;
}

.files-viewer__content {
  margin-right: 10px;
  min-height: 300px;
  box-sizing: border-box;
  overflow: hidden;
}

.files-viewer__content:last-child {
  margin-right: 0;
}

.files-viewer__text-input--wrapper {
  width: 50%;
}
.files-viewer__text-input {
  padding: 10px;
  resize: none;
  width: 100%;
  height: calc(100% - 51px);
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid var(--blue-light-color);
  font-family: "Nunito", sans-serif;
}

.files-viewer__text-input__options {
  display: flex;
}

.files-select {
  flex: 1;
  margin-right: 10px;
}

.files-viewer__preview--wrapper {
  width: 50%;
  background-color: var(--white-color);
  border: 3px solid var(--blue-light-color);
  border-radius: 5px;
}

.files-viewer__title {
  padding: 6px 0 6px 10px;
  background-color: var(--pink-color);
  color: var(--white-color);
  font-weight: 600;
  border-bottom: 3px solid #d6d4fa;
}

.files-viewer__preview {
  max-width: 100%;
  height: inherit;
  margin: auto;
  display: block;
}
