.progressbar--wrapper {
  width: max-content;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
  color: var(--white-color);
}

.progress__status {
  margin-bottom: 5px;
}

.progress__wrapper {
  position: relative;
  background-color: var(--blue-light-color);
  width: 40vw;
  display: block;
  border: 9px solid var(--violet-strong-color);
  border-radius: 18px;
  text-align: center;
  font-size: 12px;
  height: 34px;
  box-sizing: border-box;
}

.progress {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  z-index: 2;
  font-weight: 800;
}

.progress__filler {
  position: absolute;
  bottom: 9px;
  background: var(--pink-color);
  height: 16px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 9px;
  z-index: 1;
  transition: right .2s ease-in-out;
}
