.image-empty--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--white-color);
  margin: 30px 0;
}

.image-empty--wrapper svg {
  display: block;
  width: 40%;
  height: auto;
  margin: 0 auto;
}

.image-empty--wrapper .image-empty__title {
  text-align: center;
  font-size: 1.4em;
  color: var(--black-color);
  font-weight: 800;
  margin: 20px 0 0 0;
}

.image-empty--wrapper .image-empty__paragraph {
  text-align: center;
  font-weight: 600;
  color: var(--black-color);
  margin: 0;
}
