.text-box--wrapper {
  position: relative;
  height: calc(100% - 51px);
  color: var(--black-color);
}

.text-box__input {
  padding: 10px;
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid var(--blue-light-color);
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  background-color: var(--white-color);
  caret-color: transparent;
}
.text-box__input::selection {
  background-color: none;
}

.text-box--wrapper .text-box__message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  font-weight: 600;
}
