:root {
  --violet-light-color: #ebeafc;
  --violet-opacity-color: #afaaf780;
  --violet-color: #afaaf7;
  --yellow-color: #f4e095;
  --black-color: #555;
  --white-color: #fff;
  --gray-color: #eee;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--violet-color);
  overflow-y: scroll;
  font-family: "Nunito", sans-serif;
}

input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus {
  outline: none;
}

p {
  margin: 0;
}
