:root {
  --violet-color: #afaaf7;
  --yellow-color: #f4e095;
  --black-color: #3b3f3d;
  --white-color: #fff;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--violet-color);
  overflow-y: scroll;
}
