.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 3px solid var(--blue-light-color);
  margin-bottom: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 17px;
  transition: 0.2s ease-in-out;
  transition-property: background-color, color;
  position: relative;
}
.button:hover {
  background-color: var(--violet-light-color);
}
.button svg {
  width: 13px;
}
.button:active {
  background-color: var(--blue-light-color);
  color: #777;
}

.tool-tip {
  position: absolute;
  bottom: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 5px 15px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  font-size: 13px;
  font-weight: 600;
  opacity: 0;
  transition: 0.2s ease-in-out;
  transition-property: bottom, opacity;
}
.tool-tip.open {
  bottom: 140%;
  opacity: 1;
}
.tool-tip::after {
  content: "";
  position: absolute;
  border: 5px solid;
  border-color: var(--black-color) transparent transparent transparent;
  height: 5px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
