.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 3px solid var(--blue-light-color);
  margin-bottom: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 17px;
  transition: 0.2s ease-in-out;
  transition-property: background-color color;
}

.button:hover {
  background-color: var(--violet-light-color);
}

.button svg {
  width: 13px;
}

.button:active {
  background-color: var(--blue-light-color);
  color: #777;
}
